* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #006FDB;
}

body {

    background-color: #f4f4f4;
    color: var(--primary-color);

}

.ausgabe-container {
    margin: 3rem 1rem 1rem 1rem;
    background-color: white;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

#formular {

    margin: 1rem;
    display: flex;
    flex-direction: column;

}

#formular label {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}


#formular textarea {
    font-family: monospace;
    line-height: 1.5;
    padding: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary-color);
    border-radius: 5px;
}



#formular button {

    width: 6rem;
    margin: auto;
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);

    border-radius: 5px;

    cursor: pointer;
    padding: 0.5rem;
}

#formular button:hover {

    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}